[Unit]
Description=Bp Manager Fuck
After=dbus.socket
Requires=dbus.socket

[Service]
User=app_fw
Group=app_fw
Type=dbus
SmackProcessLabel=System
BusName=org.tizen.bp.manager
ExecStart=/usr/bin/bp-manager
Restart=always
RestartSec=0
KillSignal=SIGUSR1

[Install]
WantedBy=multi-user.target

